<h2>Home</h2>

<p>Home Page of CSS Grid Demo</p>
<p [ngStyle]="{'font-weight' : 'bold'
, 'font-size': '24px' }"> Let Grow Some Flowers</p>

<div class="gallery">
    <div class="gallery-item horizontal">
      <span>1th</span>
      <img src="https://i.pinimg.com/236x/b2/e9/d5/b2e9d551a9f34f6b070df9a5a217f184--white-tulips-white-flowers.jpg" />
    </div>
    <div class="gallery-item">
      <span>2</span>
      <img src="https://i.pinimg.com/236x/d5/94/39/d594398053c6b2d9f7c486e140010fad--blue-flowers-galleries.jpg" />
    </div>
    <div class="gallery-item vertical">
      <span>3th</span>
      <img src="https://i.pinimg.com/236x/a4/b7/f3/a4b7f3572feddfb9f59200d2695433ec--lilac-flowers-pretty-flowers.jpg" />
    </div>
    <div class="gallery-item">
      <span>4th</span>
      <img src="https://i.pinimg.com/236x/86/8b/9c/868b9cca2fc7d5dbce7a2c94133b3d67--nagano-hydrangeas.jpg" />
    </div>
    <div class="gallery-item horizontal">
      <span>5th</span>
      <img src="https://i.pinimg.com/564x/ff/17/6b/ff176b34baea93bfa4d391fb931de783.jpg" />
    </div>
    <div class="gallery-item vertical horizontal ">
      <span>6th</span>
      <img src="https://i.pinimg.com/236x/43/49/70/4349708f2e6ee9140975637bd12cdc99.jpg" />
    </div>
    <div class="gallery-item">
      <span>7th</span>
      <img src="https://i.pinimg.com/236x/22/a7/f3/22a7f3493b94676bfdead97e5a01a24e.jpg" />
    </div>
    <div class="gallery-item horizontal vertical">
      <span>8th</span>
      <img src="https://i.pinimg.com/564x/ec/c4/7c/ecc47cea2a3ed205a5caf59db29b6764.jpg" />
    </div>
    <div class="gallery-item vertical">
      <span>9th</span>
      <img src="https://i.pinimg.com/236x/17/47/30/174730721d5090b22504439e0f8827a9.jpg" />
    </div>


    <div class="gallery-item">
      <span>10ht</span>
      <img src="https://i.pinimg.com/236x/41/b7/a9/41b7a9a7cb28641d4b5f511ecfa87661.jpg" />
    </div>
  </div>

